<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calculator</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" src='/static/jquery-3.1.1.min.js'></script>
</head>
<body>
<form id="main-form">
  <fieldset>
    <legend><h3>Calculator</h3></legend>
    <div class="container">
      <div class="input-wrapper">
        <input type="text" name="data" id="input-field" value="0">
      </div>
      <br>
      <button class="btn btn-symbols">(</button>
      <button class="btn btn-symbols">)</button>
      <button class="btn btn-symbols">%</button>
      <button class="btn btn-symbols">AC</button>
      <br><br>
      <button class="btn btn-digits">7</button>
      <button class="btn btn-digits">8</button>
      <button class="btn btn-digits">9</button>
      <button class="btn btn-symbols">/</button>
      <br><br>
      <button class="btn btn-digits">4</button>
      <button class="btn btn-digits">5</button>
      <button class="btn btn-digits">6</button>
      <button class="btn btn-symbols">*</button>
      <br><br>
      <button class="btn btn-digits">1</button>
      <button class="btn btn-digits">2</button>
      <button class="btn btn-digits">3</button>
      <button class="btn btn-symbols">-</button>
      <br><br>
      <button class="btn btn-digits">0</button>
      <button class="btn btn-digits">.</button>
      <button class="btn btn-equal">=</button>
      <button class="btn btn-symbols">+</button>
      <br><br>
    </div>
  </fieldset>
</form>
<script type="text/javascript" src="/static/script.js"></script>
</body>
</html>
